@import "tailwindcss";

@import "@fontsource/eb-garamond";
@import "@fontsource/eb-garamond/400.css";
@import "@fontsource/eb-garamond/400-italic.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-serif: "EB Garamond", Arial, Helvetica, sans-serif, serif;
}

@theme {
  --color-primary: #FF5C00;
  --color-secondary: #EEEEEE;
  --color-normal: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}
